
@{
    ViewBag.Title = "DeleteFromDictionary";
}


<h2>OOPS!</h2>

@ViewBag.Output
<br />
<li>
    <a href="@Url.Action("Index", "Dictionary")"
       class="w3-bar-item w3-button">Return to Dictionary Page</a>
</li>
