
@{
    ViewBag.Title = "SearchQueue";
}

<h2>Search Results</h2>

<p>@ViewBag.Output</p>
<li>
    <a href="@Url.Action("Index", "Queue")"
       class="w3-bar-item w3-button">Return to Queue Page</a>
</li>